.contact {
  padding: 117px 0;

  & .container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & .contactText {
      max-width: 434px;

      & > p {
        margin: 24px 0 40px 0;
        line-height: 140%;
      }
    }

    & form {
      & .row {
        display: flex;
        column-gap: 30px;
      }

      & input {
        flex: 1;

        &:last-of-type {
          margin-bottom: 27px;
        }
      }
    }
  }
}